@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p>Name: @Html.TextBoxFor(x => x.Name)</p>
            <p>Email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Phone: @Html.TextBoxFor(x => x.Phone)</p>
            <p>
                Will Attend?
                @Html.DropDownListFor( x => x.WillAttend, new[]
                    {
                        new SelectListItem() {Text = "Yes", Value = bool.TrueString },
                        new SelectListItem() {Text = "No", Value = bool.FalseString }
                    }, "Chocie")
            </p>
            <input type="submit" value="Submit RSVP" />
        }
    </div>
</body>
</html>
